= render :partial => "layouts/main-header"
.my-page_interval
  %main.my-page-main.bank-new
    %h2.heading-2 クレジットカード情報入力
    = form_tag("/users/#{current_user.id}/banks/pay/", action: "pay", id: "pay-form") do
      .bank-new__inner
        .bank-new__main
          .bank-new__form
            %span.bank-new__form__title カード番号
            %span.form_require 必須
            = text_field_tag "number", "", placeholder: "半角数字のみ", class: "input_some bank-num", id: "pay-form__num", maxlength: "16"
            = image_tag "visa.svg", class:"buy_user_info__card"
            = image_tag "master-card.svg", class:"buy_user_info__card"
            = image_tag "saison-card.svg", class:"buy_user_info__card"
            = image_tag "jcb.svg", class:"buy_user_info__card"
            = image_tag "american_express.svg", class:"buy_user_info__card"
            = image_tag "dinersclub.svg", class:"buy_user_info__card"
            = image_tag "discover.svg", class:"buy_user_info__card"
          .bank-new__form
            %span.bank-new__form__title 有効期限
            %span.form_require 必須
            .bank-new__form__selecter
              .select_wrap
                %select.select_default.bank-exp-mon#pay-form__mon{maxlength: "2", name: "expiration_month", type: "text"}
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
                %i.fas.fa-angle-down
              %span 月
            .bank-new__form__selecter
              .select_wrap
                %select.select_default.bank-exp-year#pay-form__year{maxlength: "4", name: "expiration_year", type: "text"}
                  %option{value: "2019"}19
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                %i.fas.fa-angle-down
              %span 年
          .bank-new__form
            %span.bank-new__form__title セキュリティー番号
            %span.form_require 必須
            = text_field_tag "cvc", "", placeholder: "カード背面４桁もしくは３桁の番号", class: "input_some bank-cvc", id: "pay-form__cvc", maxlength: "4"
            .sell_cation.bank-new__form__cation
              .sell_question
                ?
              カード裏面の番号とは?
          .actions
            %button.btn_default.buy_item__button{id: "pay-form__btn", type: "submit"}
              登録完了
  = render partial: "layouts/user-aside-menu", locals: { user: current_user}
= render partial: "layouts/main-footer"
