= render :partial => "layouts/main-header"

.my-page_interval

  .my-page-sub_log-out
    = link_to "ログアウト", { controller: "users", action: "destroy" }, { class: "my-page-sub_log-out_btn" }

  = render :partial => "layouts/user-aside-menu"

= render "layouts/main-footer"

= render "layouts/footer-sell-btn"
