%body.user_show_body
  = render partial: "layouts/main-header"
  %nav.bread-crumbs
    %ul
      %li
      %li
  .user_show_main
    %section.user_details
      .user_details__profile
        %a{href: ""}
          .user_details__profile__photo{style: "backaground-image: url('')"}
          %h2.user_details__profile__name.font_6
            = @user.nickname
        .user_details__profile__score
          %span.font_3
            評価 100
          %span.font_3
            出品数
            = @items.count
      .user_details__info
        .user_details__rate
          %div.user_details__rate__other.clearfix
            %i{class: "fas fa-grin"}
            .user_details__rate__score
              12
          %div.user_details__rate__other.clearfix
            %i{class: "fas fa-meh"}
            .user_details__rate__score
              34
          %div.user_details__rate__other.clearfix
            %i{class: "fas fa-frown"}
            .user_details__rate__score
              56
        .user_details__comment
          %p.user_details__comment__content
            仮でございやす。
      .sns_icons
        %ul.sns_icons__content
          %li
            %a{href: ""}
              %i.fab.fa-facebook-square.fa-3x
          %li
            %a{href: ""}
              %i.fab.fa-twitter-square.fa-3x
          %li
            %a{href: ""}
              %i.fab.fa-line.fa-3x
      %section.user_details__items
        %h2 この出品者の商品
        .user_details__items__content
          - @items.each do |item|
            %section.item_box
              = link_to "/items/#{item.id}" do
                %figure.item_box__image
                  = image_tag('test1.jpg', class: 'item_box__image__set')
                .item_box__text
                  %h3.item_box__text__name
                    = item.name
                  .item_box__text__num
                    .item_box__text__price
                      ¥
                      = item.price
                    %p.item_box__text__tax
                      (税込)
  = render partial: "layouts/main-footer"
