.user-signin-page
  = render "layouts/simple-header"
  %main.signin-main
    .signin-contents
      .go__signup
        .go__signup-contents
          .go__signup-contents__message
            %p.go__signup-contents__message__text
              アカウントをお持ちでない方はこちら
          =link_to "新規会員登録", new_user_session_path, class: "go__signup-contents__link"

      .go__login
        .login-box
          .signin__ways
            %li.signin-ways__facebook
              =link_to user_facebook_omniauth_authorize_path, class: "signin-ways__facebook__button" do
                .signin-ways__facebook__text
                  Facebookでログイン
                = image_tag("facebook_logo", class: "signin-ways__facebook__text__logo")
            %li.signin-ways__google
              =link_to user_google_oauth2_omniauth_authorize_path, class: "signin-ways__google__button" do
                .signin-ways__google__button__text
                  Googleでログイン
                = image_tag("google_logo", class: "signin-ways__google__text__logo")

          .signin-form
            .signin-form-contents
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .field
                  = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス"
                .field
                  = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
                .login-recaptcha
                .actions
                  = f.submit "ログイン", class: "actions__login-button"
                .password-forgotten
                  =link_to "パスワードをお忘れの方", "", class: "password-forgotten__text"

  .user-simplefooter
    = render "layouts/simple-footer"
