.simple_main
  = render partial: "layouts/simple-header"
  %main.simple_content
    %section.simple_container
      %h2.heading 購入を確定しますか？
      %section.buy_content.buy_item
        .buy_content__inner
          = image_tag('test1.jpg', class: 'buy_item__img')
          %p.item__name= "ルンバ的"
          %form.buy_item__form
            %p.buy_item__price
              = "¥ 1,200 "
              %span.buy_item__postage
                = "送料込み"
            %ul.buy_item__accodion
              %li.accodion
                %div{onclick: "obj=document.getElementById('menu1').style; obj.display=(obj.display=='none')?'block':'none';", class: "accodion__text"}
                  ポイントを使う
                  %i{class: "fas fa-chevron-down"}
                  %a.accodion__selecter
                %div{id: 'menu1', style: "display:none;clear:both;"}
                  %ul.accodion__list
                    %li.accodion__have_point
                      = "所持ポイント: P 1,200"
                    %li.accodion__select
                      .accodion__radio
                        %label
                          %input{ type: "radio", name: "consume_point_radio", value: "none", class: 'accodion__radio__button'} ポイントを使わない
                      .accodion__radio
                        %label
                          %input{ type: "radio", name: "consume_point_radio", value: "all", class: 'accodion__radio__button'}
                          %input{ type: "hidden", value: "#{}"} すべてのポイントを使う
                          %br="P 1,200"
                      .accodion__radio
                        %label
                          %input{ type: "radio", name: "consume_point_radio", value: "partial", class: 'accodion__radio__button'} 一部のポイントを使う
                      %input{type: "number", placeholder: "使うポイントを入力", class: "input_some"}
                      %input{type: "hidden", value: "#{}" }
            %ul.buy_item__table
              %li.buy_item__pay
                .buy_item__pay__text
                  = "支払い金額"
                .buy_item__pay__price
                  %span= "¥ 1,200"
            -#- unless
              -#%p.buy_item__error 配送先と支払い方法の入力を完了してください。
            %button{type: 'submit', class: "buy_item__button btn_default"} 購入する
            %input{type: "hidden"}
      %section.buy_content.buy_user_info
        .buy_content__inner
          %h3.buy_user_info__heading 配送先
          %address.buy_user_info__text
            = "〒123-4567"
            %br
            = "日本"
            %br
            = "山田 太郎"
          %a{href: "", class: "buy_user_info__fix"}
            %span 変更する
            %i{class: "fas fa-chevron-right"}
      %section.buy_content.buy_user_info
        .buy_content__inner
          %h3.buy_user_info__heading 支払い方法
          -if current_user = 0
            %p.buy_user_info__text
              = "12345678"
              %br
              = "10 20"
            = image_tag('master-card.svg', class: 'buy_user_info__card')
          -else
            %p /
          %a{href: "", class: "buy_user_info__fix"}
            %span 変更する
            %i{class: "fas fa-chevron-right"}
  = render partial: "layouts/simple-footer"
