= render partial: "layouts/main-header"
%section.searched-category-list_wrap
  %li.searched-category-list
    = link_to "/", {class: "searched-category-list_btn"} do
      メルカリ
      %i.fas.fa-chevron-right
  %li.searched-category-list
    = link_to "/", {class: "searched-category-list_btn"} do
      カテゴリー一覧
      %i.fas.fa-chevron-right


%main.category_mainbody
  %article.category_item-wrap
    %ul.category_item-lists
      - if @items.present?
        - @items.each do |item|
          %li.category_item-list
            = link_to item_path(item.id) do
              %section.category_item_top
                = image_tag("mercari_icon", class: "category_item_top_image")
              %section.category_item_bottom
                %h3.category_item_bottom_name
                  = item.name
                .category_item_bottom-num
                  %p.category_item_bottom-num_price
                    = item.price
                  %p.category_item_bottom-num_like
                    ♡
                    %span 0
      - else
        %p 検索したカテゴリーに当てはまるアイテムはありませんでした。

= render partial: "layouts/main-footer"
= render "layouts/footer-sell-btn"
