.simple_main
  = render partial: "layouts/simple-header"
  %main.simple_container
    = form_for @item, html: {class: "simple_content", id: "section"} do |f|
      %h2.heading 商品の情報を入力
      %form.sell_form
        .sell_upload
          %h3.sell_upload__head
            出品画像
            %span.form_require 必須
          .sell_upload__comment 最大10枚までアップロードできます
          = f.fields_for :item_images, html: {class: "sell_upload__img"} do |fin|

            = fin.label :item_images, class: "sell_upload__img__drop", id: "droparea"

            = fin.file_field :item_images, class: "item-contents__image_drop-box_click", id: "upload_image_show"

        .sell_item
          .sell_item__form
            %label
              商品名
              %span.form_require 必須
            = f.text_field :name, class: "input_some", placeholder: "商品名 (必須40文字まで)", value: "#{@item.name}"
          .sell_item__form
            %label
              商品の説明
              %span.form_require 必須
            = f.text_area :discription, class: "textarea_some", placeholder: "商品の説明 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。", rows: "5", value: "#{@item.discription}"

          %h3.sell_item__head 商品の詳細
          .sell_item__selecters
            .sell_item__form
              %label
                カテゴリー
                %span.form_require 必須
              .select_wrap
                = f.select :category, [["レディース", "レディース"], ["メンズ", "メンズ"], ["ベビー・キッズ", "ベビー・キッズ"], ["インテリア・住まい・小物", "インテリア・住まい・小物"], ["本・音楽・ゲーム", "本・音楽・ゲーム"], ["おもちゃ・ホビー・グッズ", "おもちゃ・ホビー・グッズ"], ["コスメ・香水・美容", "コスメ・香水・美容"], ["家電・スマホ・カメラ", "家電・スマホ・カメラ"], ["スポーツ・レジャー", "スポーツ・レジャー"],["ハンドメイド", "ハンドメイド"], ["チケット", "チケット"], ["自動車・オートバイ", "自動車・オートバイ"], ["その他", "その他"]] ,class: "select_default", prompt: "---", value: "#{@item.category}"
                %i{class: "fas fa-chevron-down"}

                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} レディース
                  %option{value: "2"} メンズ
                  %option{value: "3"} ベビー・キッズ
                  %option{value: "4"} インテリア・住まい・小物
                  %option{value: "5"} 本・音楽・ゲーム
                  %option{value: "6"} おもちゃ・ホビー・グッズ
                  %option{value: "7"} コスメ・香水・美容
                  %option{value: "8"} 家電・スマホ・カメラ
                  %option{value: "9"} スポーツ・レジャー
                  %option{value: "10"} ハンドメイド
                  %option{value: "11"} チケット
                  %option{value: "12"} 自動車・オートバイ
                  %option{value: "13"} その他
                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                商品の状態
                %span.form_require 必須
              .select_wrap
                = f.select :status, [["新着、未使用", "新着、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]] ,class: "select_default", prompt: "---", value: "#{@item.status}"
                %i{class: "fas fa-chevron-down"}


                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} 新品、未使用
                  %option{value: "2"} 未使用に近い
                  %option{value: "3"} 目立った傷や汚れなし
                  %option{value: "4"} やや傷や汚れあり
                  %option{value: "5"} 傷や汚れあり
                  %option{value: "6"} 全体的に状態が悪い
                %i{class: "fas fa-chevron-down"}


        .sell_item.clearfix
          %h3.sell_item__head 配送について
          %a{href: '', class: "sell_question"} ?
          .sell_item__selecters
            .sell_item__form
              %label
                配送料の負担
                %span.form_require 必須
              .select_wrap

                = f.select :shopping_charges, [["送料込み(出品者負担)", "送料込み"], ["着払い(購入者負担)", "着払い"]],class: "select_default", prompt: "---", value: "#{@item.shopping_charges}"
                %i{class: "fas fa-chevron-down"}

                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} 送料込み(出品者負担)
                  %option{value: "2"} 着払い(購入者負担)
                %i{class: "fas fa-chevron-down"}

            .sell_item__form
              %label
                発送元の地域
                %span.form_require 必須
              .select_wrap
                = f.select :source_area, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"],["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"], ["未定", "未定"]] ,class: "select_default", prompt: "---", value: "#{@item.source_area}"
                %i{class: "fas fa-chevron-down"}

                %select.select_default
                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                発送までの日数
                %span.form_require 必須
              .select_wrap
                = f.select :shopping_days, [["1~2日で発送", "1~2日で発送"],["2~3日で発送", "2~3日で発送"],["4~7日で発送", "4~7日で発送"]],class: "select_wrap", prompt: "---", value: "#{@item.shopping_days}"
                %i{class: "fas fa-chevron-down"}

                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} 1~2日で発送
                  %option{value: "2"} 2~3日で発送
                  %option{value: "3"} 4~7日で発送
                %i{class: "fas fa-chevron-down"}
        .sell_item.clearfix
          %h3.sell_item__head= "販売価格(300~9,999,999)"
          = link_to "",class: "sell_question" do
            ?
          .sell_item__selecters
            %ul.sell_price
              %li.sell_item__form
                %label.sell_item__form__left
                  価格
                  %span.form_require 必須
                .sell_item__form__right
                  ¥
                  %div
                    = f.text_field :price, class: "input_some", placeholder: "例) 300"
              %li.clearfix
                .sell_item__form__left_slim
                  = "販売手数料(10%)"
                .sell_item__form__right_slim
                  = "-"
              %li.clearfix
                .sell_item__form__left_big 販売利益
                .sell_item__form__right_big
                  = "-"
        .sell_item
          %div
            %p
              = link_to "", class: "sell_cation" do
                禁止されている出品
              、
              = link_to "", class: "sell_cation" do
                行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "", class: "sell_cation" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "", class: "sell_cation" do
                加盟店規約
              に同意したことになります。
          %button{type: "submit", class: 'btn_default buy_item__button'} 変更する
          %a.btn_default.btn_gray もどる
  = render partial: "layouts/simple-footer"
