= render :partial => "layouts/main-header"
%section.bxslider-wrap
  .infinite_slide_images
    .slide_image_mobile-app
      .app-banner_header
        .app-banner_header-inner
          %h2 スマホでかんたん
          %h2 フリマアプリ
          %p メルカリはスマホカメラからすぐに出品できる
          %p 購入時も安心な独自システムのアプリです
          .app-banner-icon
            %ul.footer_logos
              %li
                = link_to "/" do
                  = image_tag("app-store", class: "footer_appstore_logo")

              %li
                = link_to "/" do
                  = image_tag("google-play", class: "footer_google_logo")
        .smart_ph_img
          = image_tag("main_content_pc", class: "footer_sp_img")

%main.index_mainbody
  %h2 ピックアップカテゴリー
  %article.index_item-wrap
    %h2
      = link_to "レディース新着アイテム","/",class: "index_item_new"
    %ul.index_item-lists
      %li.index_item-list
        = link_to "/" do
          %section.index_item_top
            = image_tag("mercari_icon", class: "index_item_top_image")
          %section.index_item_bottom
            %h3.index_item_bottom_name メルカリアイテム
            .index_item_bottom-num
              %p.index_price ¥300
              / {"¥#{}"}
              %p.index_like
                ♡
                %span 0
      %li.index_item-list
      %li.index_item-list
      %li.index_item-list
    %p.index_all-show
      = link_to "全ての商品を見る", "/", class: "index_all-show_path"

  %article.index_item-wrap
    %h2
      = link_to "メンズ新着アイテム","/",class: "index_item_new"
    %ul.index_item-lists
      %li.index_item-list
        = link_to "/" do
          %section.index_item_top
            = image_tag("mercari_icon", class: "index_item_top_image")
          %section.index_item_bottom
            %h3.index_item_bottom_name メルカリアイテム
            .index_item_bottom-num
              %p.index_price ¥300
              / {"¥#{}"}
              %p.index_like
                ♡
                %span 0
      %li.index_item-list
      %li.index_item-list
      %li.index_item-list
    %p.index_all-show
      = link_to "全ての商品を見る", "/", class: "index_all-show_path"


= render "layouts/main-footer"

= render "layouts/footer-sell-btn"
