.simple_main
  = render partial: "layouts/simple-header"
  %main.simple_content
    = form_for @item, html: {class: "simple_content_form", id: "item-dropzone"} do |f|
      %h2.sell_heading_top 商品の情報を入力
      %form.sell_form-container
        %label.sell_upload__head 出品画像
        %span.form_require 必須
        = f.fields_for :item_images, html: {class: "sell_upload__img"} do |fin|
          .dropzone_container.clearfix
            #dropzone_preview
            .dropzone_area
              = fin.label :image, class: "dropzone_area_box", for: "upload-image" do
                .input_area
                  = fin.file_field :image, multiple: true, name: "item_images[image][]", class: "upload-image", id: "upload-image", type: "file"
                  %p ここをクリックして画像ファイルをアップロードしてください
            .dropzone_area2
              = fin.label :image, class: "dropzone_area_box", for: "upload-image" do
                %p
        .sell_item
          .sell_item__form
            %label
              商品名
              %span.form_require 必須
            = f.text_field :name, class: "input_some", placeholder: "商品名 (必須40文字まで)", value: "#{@item.name}"
          .sell_item__form
            %label
              商品の説明
              %span.form_require 必須
            = f.text_area :discription, class: "textarea_some", placeholder: "商品の説明 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。", rows: "5", value: "#{@item.discription}"
          %h3.sell_item__head 商品の詳細
          .sell_item__selecters
            .sell_item__form
              %label
                カテゴリー
                %span.form_require 必須
              .select_wrap
                %select#first_category{name: "first_category", class: "select_default"}
                  %option{value: ""} ---
                  %option{value: "a"} レディース
                  %option{value: "b"} メンズ
                  %option{value: "c"} ベビー・キッズ
                  %option{value: "d"} インテリア・住まい・小物
                  %option{value: "e"} 本・音楽・ゲーム
                  %option{value: "f"} おもちゃ・ホビー・グッズ
                  %option{value: "g"} コスメ・香水・美容
                  %option{value: "h"} 家電・スマホ・カメラ
                  %option{value: "i"} スポーツ・レジャー
                  %option{value: "j"} ハンドメイド
                  %option{value: "k"} チケット
                  %option{value: "l"} 自動車・オートバイ
                  %option{value: "m"} その他
                %i{class: "fas fa-chevron-down"}
              .select_wrap_second
              .select_wrap_third
              = f.text_field :category, class: "input_some_hidden", id: "hidden_value", value: "", style: "display: none"
            .sell_item__form
              %label
                商品の状態
                %span.form_require 必須
              .select_wrap

                = f.select :status, [["新着、未使用", "新着、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], {}, {class: "select_default"}

                %i{class: "fas fa-chevron-down"}
        .sell_item.clearfix
          %h3.sell_item__head 配送について
          %a{href: '', class: "sell_question"} ?
          .sell_item__selecters
            .sell_item__form
              %label
                配送料の負担
                %span.form_require 必須
              .select_wrap

                = f.select :shopping_charges, [["送料込み(出品者負担)", "送料込み"], ["着払い(購入者負担)", "着払い"]], {}, {class: "select_default", prompt: "---"}

                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                発送元の地域
                %span.form_require 必須
              .select_wrap
                = f.collection_select :source_area, Prefecture.all, :id, :name, {prompt: "---"}, {class: "select_default"}

                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                発送までの日数
                %span.form_require 必須
              .select_wrap

                = f.select :shopping_days, [["1~2日で発送", "1~2日で発送"],["2~3日で発送", "2~3日で発送"],["4~7日で発送", "4~7日で発送"]], {}, {class: "select_default"}

                %i{class: "fas fa-chevron-down"}
        .sell_item.clearfix
          %h3.sell_item__head= "販売価格(300~9,999,999)"
          = link_to "?", "/", class: "sell_question"
          .sell_item__selecters
            %ul.sell_price
              %li.sell_item__form
                %label.sell_item__form__left
                  価格
                  %span.form_require 必須
                .sell_item__form__right
                  ¥
                  %div
                    = f.text_field :price, class: "input_some", placeholder: "例) 300"
              %li.clearfix
                .sell_item__form__left_slim
                  = "販売手数料(10%)"
                #fee_price.sell_item__form__right_slim
                  = "-"
              %li.clearfix
                .sell_item__form__left_big 販売利益
                #profit_price.sell_item__form__right_big
                  = "-"
        .sell_item
          %div
            %p
              = link_to "", class: "sell_cation" do
                禁止されている出品
              、
              = link_to "", class: "sell_cation" do
                行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "", class: "sell_cation" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "加盟店規約", "/", class: "sell_cation"
              = link_to "", class: "sell_cation" do
                禁止されている出品
              、
              = link_to "", class: "sell_cation" do
                行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "", class: "sell_cation" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "", class: "sell_cation" do
                加盟店規約
              に同意したことになります。
          .button_default
            %button{type: "submit", class: 'buy_item__button'} 出品する
            .btn_gray もどる
  = render partial: "layouts/simple-footer"
