.simple_main
  = render partial: "layouts/simple-header"
  %main.simple_content
    %section.simple_container
      %h2.heading 商品の情報を入力
      %form.sell_form
        .sell_upload
          %h3.sell_upload__head
            出品画像
            %span.form_require 必須
          %p.sell_upload__comment 最大10枚までアップロードできます
          .sell_upload__img.clearfix
            .sell_upload__img__contain
            .sell_upload__img__drop
              %input{type: "file", class: "sell_upload__img__drop__file", style: "display: none;", multiple: true}
              %pre.visible_item ドラッグアンドドロップまたはクリックしてファイルをアップロード
              %i{class: "fas fa-camera"}
        .sell_item
          .sell_item__form
            %label
              商品名
              %span.form_require 必須
            %input{ class: "input_some", placeholder: "商品名 (必須40文字まで)" }
          .sell_item__form
            %label
              商品の説明
              %span.form_require 必須
            %textarea{ class: "textarea_some", rows: "5", placeholder: "商品の説明 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"}
        .sell_item.clearfix
          %h3.sell_item__head 商品の詳細
          .sell_item__selecters
            .sell_item__form
              %label
                カテゴリー
                %span.form_require 必須
              .select_wrap
                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} レディース
                  %option{value: "2"} メンズ
                  %option{value: "3"} ベビー・キッズ
                  %option{value: "4"} インテリア・住まい・小物
                  %option{value: "5"} 本・音楽・ゲーム
                  %option{value: "6"} おもちゃ・ホビー・グッズ
                  %option{value: "7"} コスメ・香水・美容
                  %option{value: "8"} 家電・スマホ・カメラ
                  %option{value: "9"} スポーツ・レジャー
                  %option{value: "10"} ハンドメイド
                  %option{value: "11"} チケット
                  %option{value: "12"} 自動車・オートバイ
                  %option{value: "13"} その他
                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                商品の状態
                %span.form_require 必須
              .select_wrap
                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} 新品、未使用
                  %option{value: "2"} 未使用に近い
                  %option{value: "3"} 目立った傷や汚れなし
                  %option{value: "4"} やや傷や汚れあり
                  %option{value: "5"} 傷や汚れあり
                  %option{value: "6"} 全体的に状態が悪い
                %i{class: "fas fa-chevron-down"}
        .sell_item.clearfix
          %h3.sell_item__head 配送について
          %a{href: '', class: "sell_question"} ?
          .sell_item__selecters
            .sell_item__form
              %label
                配送料の負担
                %span.form_require 必須
              .select_wrap
                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} 送料込み(出品者負担)
                  %option{value: "2"} 着払い(購入者負担)
                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                発送元の地域
                %span.form_require 必須
              .select_wrap
                %select.select_default
                %i{class: "fas fa-chevron-down"}
            .sell_item__form
              %label
                発送までの日数
                %span.form_require 必須
              .select_wrap
                %select.select_default
                  %option{value: ""} ---
                  %option{value: "1"} 1~2日で発送
                  %option{value: "2"} 2~3日で発送
                  %option{value: "3"} 4~7日で発送
                %i{class: "fas fa-chevron-down"}
        .sell_item.clearfix
          %h3.sell_item__head= "販売価格(300~9,999,999)"
          %a{href: '', class: "sell_question"} ?
          .sell_item__selecters
            %ul.sell_price
              %li.sell_item__form
                %label.sell_item__form__left
                  価格
                  %span.form_require 必須
                .sell_item__form__right
                  ¥
                  %div
                    %input{class: "input_some", placeholder: "例) 300"}
              %li.clearfix
                .sell_item__form__left_slim
                  = "販売手数料(10%)"
                .sell_item__form__right_slim
                  = "-"
              %li.clearfix
                .sell_item__form__left_big 販売利益
                .sell_item__form__right_big
                  = "-"
        .sell_item
          %div
            %p
              %a{href: "", class: "sell_cation"} 禁止されている出品
              、
              %a{href: "", class: "sell_cation"} 行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %a{href: "", class: "sell_cation"} 偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              %a{href: "", class: "sell_cation"} 加盟店規約
              に同意したことになります。
          %button{type: "submit", class: 'btn_default buy_item__button'} 出品する
          %a.btn_default.btn_gray もどる
  = render partial: "layouts/simple-footer"
