= render "layouts/main-header"

.interval
  %main.item-wrap
    %h1.item-name= @item.name
    .slider
      %ul.bxslider
        - @item.item_images.each do |image|
          = image_tag image.image.url, class: "img"
      #bx-pager-1
        %li.sub-img{style: "background:#ffffcf;"}
          = link_to "", "data-slide-index": "0"
        %li.sub-img{style: "background:#ffcfcf;"}
          = link_to "", "data-slide-index": "1"
        %li.sub-img{style: "background:#ffcfff;"}
          = link_to "", "data-slide-index": "2"
        %li.sub-img{style: "background:#cfcfff;"}
          = link_to "", "data-slide-index": "3"
        %li.sub-img{style: "background:#cfffff;"}
          = link_to "", "data-slide-index": "4"
      #bx-pager-2
        %li.sub-img{style: "background:#cfffcf;"}
          = link_to "", "data-slide-index": "5"

    %table.table
      %tr.table_row
        %td.table_data 出品者
        %td.table_data= @nickname
      %tr.table_row
        %td.table_data カテゴリー
        %td.table_data= @item.category
      %tr.table_row
        %td.table_data ブランド
        %td.table_data= @item.brand
      %tr.table_row
        %td.table_data 商品のサイズ
        %td.table_data= @item.size
      %tr.table_row
        %td.table_data 商品の状態
        %td.table_data= @item.status
      %tr.table_row
        %td.table_data 配送料の負担
        %td.table_data= @item.shopping_charges
      %tr.table_row
        %td.table_data 配送の方法
        %td.table_data カルボナーラ
      %tr.table_row
        %td.table_data 配送元地域
        %td.table_data= @item.source_area
      %tr.table_row
        %td.table_data 発送日の目安
        %td.table_data= @item.shopping_days
    .info
      .info_price
        %p.info_price_num
          = @item.price
          %span.info_price_tax (税込)
          %span.info_price_shipping 送料込み
      - if user_signed_in? && @item.saler_id == current_user.id
        .info_content
          %p.info_content_text= @item.discription

        %ul.info_review-wrap
          %li.info_review-wrap_like
            %i.far.fa-heart いいね！
          %li.info_review-wrap_report
            %i.far.fa-flag 不適切な商品の報告
          %p.info_review-wrap_support
            %i.fas.fa-unlock-alt あんしん・あんぜんへの取り組み

        .edit_item
          = link_to "商品の編集", edit_item_path, method: :get, class: "btn_default buy_item__button"
          %p
            or
          %form{}
            %input{type: "hidden", value: ""}
              %button{type: "submit", class: "btn_default btn_gray__long"}
                出品を一旦停止する
          = link_to "この商品を削除する","/items/#{@item.id}", method: :delete, class: "btn_default btn_gray__long delete_button"

      - else
        .info_buy
          = link_to "購入画面に進む", "/items/#{@item.id}/buy", class: "info_buy_btn"
        .info_content
          %p.info_content_text= @item.discription

        %ul.info_review-wrap
          %li.info_review-wrap_like
            %i.far.fa-heart いいね！
          %li.info_review-wrap_report
            %i.far.fa-flag 不適切な商品の報告
          %p.info_review-wrap_support
            %i.fas.fa-unlock-alt あんしん・あんぜんへの取り組み

  %article.comment-wrap
    - @item.comments.each do |comment|
      = render partial: "comment", locals: {comment: comment}
    %p.comment_wanted 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    = form_for [@item, @comment], url: item_comments_path(@item), html: {class: "comment_form"} do |f|
      = f.text_area :text, class: "comment_form_comment"
      = f.submit 'コメントする', class: "comment_form_btn"
    %section.item-list-prev-next
      %li.item-list_prev
        %i.fas.fa-chevron-left
        prev
      %li.item-list_next
        next
        %i.fas.fa-chevron-right
    %section.sns-list-wrap
      %li.sns-list_facebook
        = image_tag "Facebook.jpg"
      %li.sns-list_twitter
        = image_tag "Twitter.jpg"
      %li.sns-list_line
        = image_tag "Line.jpg"
      %li.sns-list_pinterest
        = image_tag "Pinterest.jpg"


= render "layouts/main-footer"
