%body
  %header.index_header
    %section.index_header_top
      %h1.index_header_top_logo
        = link_to root_path do
          = image_tag("mercari_main_icon", class: "index_mercari_main_logo")

      = form_with url: search_items_path, method: :get, local: true, class: "index_header_top_form" do |f|
        = f.text_field :search, class: "index_header_top_form_search", placeholder: "何かお探しですか？"
        = button_tag type: "submit" do
          %i.fa.fa-search.index_header_top_form_btn

    %section.index_header_bottom
      %nav.index_header_bottom_nav
        %ul.index_search_list
          %li.index_search_list-two.search__category
            = icon 'list', class: "index_nav_list_logo"
            = link_to "カテゴリから探す", "/", class: "index_nav_list_str"
          %li.index_search_list-two.search__bland
            = icon "tag", class: "index_nav_list_logo"
            = link_to "ブランドから探す", "/", class: "index_nav_list_str"
            %ul
              .blank
              %li.bland-lists
                =link_to "シャネル", "/", class: "bland-list"
              %li.bland-lists
                =link_to "ナイキ", "/", class: "bland-list"
              %li.bland-lists
                =link_to "ルイヴィトン", "/", class: "bland-list"
              %li.bland-lists
                =link_to "シュプリーム", "/", class: "bland-list"
              %li.bland-lists
                =link_to "アディダス", "/", class: "bland-list"
              %li.bland-lists
                =link_to "ブランド一覧", "/", class: "bland-list"
      %menu.index_header_bottom_menu
        %ul.index_menu_list

          - unless user_signed_in?
            = link_to "ログイン", "/users/sign_in", class: "index_menu_list_login"
            = link_to "新規登録", "/users/sign_up", class: "index_menu_list_signup"

          - else
            %li.menu__list.menu__list__info
              = icon "bell", class: "gray_icon"
              お知らせ
              .blank-box
              %ul.menu__list__box.notification-box
                %li
                  = link_to "/", class: "notification-box__link" do
                    %figure
                      = image_tag("mercari_profile.png")
                    .notification-box__body
                      .notification-box__text
                        事務局からメッセージです。
                      %time
                        %i.far.fa-clock
                        %span ４時間前
                    %i.fas.fa-chevron-right
                %li
                  = link_to "/", class: "notification-box__link" do
                    %figure
                      = image_tag("mercari_profile.png")
                    .notification-box__body
                      .notification-box__text
                        取引相手からメッセージです。
                      %time
                        %i.far.fa-clock
                        %span ５時間前
                    %i.fas.fa-chevron-right
                %li
                %li
            %li.menu__list__todo
              = icon "check", class: "gray_icon"
              やることリスト
              .blank-box
              %ul.menu__list__box.todo-box
                %li.todo-box__content
                  現在、やることリストはありません
            %li.menu__list__plof
              = link_to "/users" do
                %div
                  = image_tag("test1.jpg", class: "top_icon")
                %span.top_mypage
                  マイページ
              .blank-box
              %ul.menu__list__box.menu__list_my-page_wrap
                .menu__list_image
                  .menu__list_account
                    %i.menu__list_account_icon
                %p.menu__list_name
                  = current_user.nickname
                %p.menu__list_about
                  評価:
                  %span.menu__list_about_review 0
                  出品数:
                  %span.menu__list_about_listing= current_user.items.count
                %section.menu__list_my-page
                  %li
                    = link_to "/", class: "menu__list_my-page__list" do
                      %span 売上金
                      %i.fas.fa-chevron-right
                      %span.sales-num
                        ¥5,000
                  %li
                    = link_to "/", class: "menu__list_my-page__list" do
                      %span ポイント
                      %i.fas.fa-chevron-right
                      %span.merukari-point
                        p 0

                %li
                  = link_to "/", class: "menu__list_my-page__list-other" do
                    %span いいね！一覧
                    %i.fas.fa-chevron-right
                %li
                  = link_to exhibitindex_user_path(current_user.id), class: "menu__list_my-page__list-other" do
                    %span 出品した商品 - 出品中
                    %i.fas.fa-chevron-right
                %li
                  = link_to "/", class: "menu__list_my-page__list-other" do
                    %span 出品した商品 - 取引中
                    %i.fas.fa-chevron-right
                %li
                  = link_to "/", class: "menu__list_my-page__list-other" do
                    %span 出品した商品 - 売却済み
                    %i.fas.fa-chevron-right
                %li
                  = link_to "/", class: "menu__list_my-page__list-other" do
                    %span 購入した商品 - 取引中
                    %i.fas.fa-chevron-right
                %li
                  = link_to "/", class: "menu__list_my-page__list-other" do
                    %span 購入した商品 - 過去の取引
                    %i.fas.fa-chevron-right
  %nav.category_nav
    %ul{id: "lists-1"}
    %ul{id: "lists-2"}
    %ul{id: "lists-3"}

  %header.index_header_slim
    .slim__inner
      %h1.index_header_top_logo
        = link_to root_path do
          = image_tag("mercari_main_icon", class: "index_mercari_main_logo")
      %ul.slim__menu.clearfix
        // not log-in
        - if !user_signed_in?
          = link_to "ログイン", "/users/sign_in", class: "slim__menu__signin mini-box"
          = link_to "新規登録", "/users/sign_up", class: "slim__menu__signup mini-box"
          // signed-in
        - else
          %li.slim-icon.slim__menu__info
            = link_to "/" do
              = icon "bell", class: "gray_icon"
          %li.slim-icon.slim__menu__todo
            = link_to "/" do
              = icon "check", class: "gray_icon"
          %li.slim-icon.slim__menu__plof
            = link_to "/users" do
              %div
                = image_tag("test1.jpg", class: "top_icon")
    .slim__search
      %form.slim__search__form{action: "/items/search", method: "get"}
        %input.slim__search__bar{name: "search", type: "text", placeholder: "何をお探しですか？"}
          = icon 'search', class: "slim__search__btn"
    %nav.slim-nav
      %ul.slim__nav
        %li.slim__nav__list
          = icon 'list', class: "slim__nav__logo"
          = link_to "カテゴリから探す", "/", class: "slim__nav__logo__str"
        %li.slim__nav__list
          = icon "tag", class: "slim__nav__logo"
          = link_to "ブランドから探す", "/", class: "slim__nav__logo__str"

