%aside.my-page-aside
  %ul.my-page-aside_nav
    %li
      = link_to "/users/", class: "my-page-aside_nav_list" do
        マイページ
        %span.num 1
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        お知らせ
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        やることリスト
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        いいね！一覧
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      = link_to "/items/new", class: "my-page-aside_nav_list" do
        出品する
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        出品した商品 - 出品中
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        出品した商品 - 取引中
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        出品した商品 - 売却済み
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        購入した商品 - 取引中
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        購入した商品 - 過去の取引
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        ニュース一覧
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        評価一覧
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        ガイド
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
    %li
      %a.my-page-aside_nav_list{:href => "#"}
        お問い合わせ
        %span.num
        %i.my-page-aside_nav_list_right-arrow &gt;
  %h3.merupay メルペイ
  %ul.my-page-aside_merupay
    %li
      %a.my-page-aside_merupay_list{:href => "#"}
        売上・振込申請
        %span.num
        %i.my-page-aside_merupay_list_right-arrow &gt;
    %li
      %a.my-page-aside_merupay_list{:href => "#"}
        ポイント
        %span.num
        %i.my-page-aside_merupay_list_right-arrow &gt;
  %h3.config 設定
  %ul.my-page-aside_config
    %li.my-page-aside_config_list
      = link_to "/", class: "my-page-aside_config_list_a" do
        プロフィール
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
    %li.my-page-aside_config_list
      %a.my-page-aside_config_list_a{:href => "#"}
        発送元・お届け先住所変更
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
    %li.my-page-aside_config_list
      = link_to "/users/#{user.id}/banks", class: "my-page-aside_config_list_a" do
        支払い方法
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
    %li.my-page-aside_config_list
      %a.my-page-aside_config_list_a{:href => "#"}
        メール/パスワード
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
    %li.my-page-aside_config_list
      %a.my-page-aside_config_list_a{:href => "#"}
        本人情報
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
    %li.my-page-aside_config_list
      %a.my-page-aside_config_list_a{:href => "#"}
        電話番号の確認
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
    %li.my-page-aside_config_list
      %a.my-page-aside_config_list_a{:href => "#"}
        ログアウト
        %span.num
        %i.my-page-aside_config_list_right-arrow &gt;
